<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>FileUpload</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/user/uploadfile">
        <p>文件：<input type="file" name="file" multiple="multiple" /></p>
        <p><input type="submit" value="上传" /></p>
        <p th:text="${message}"></p>
    </form>
</body>
<script >
   /* function checkFileSize(eleId) {
        var allowSize = 10*1024*1024;// 10M
        var size = $("#" + eleId)[0].files[0].size;
        if (size > allowSize) {
            alert("文件大小限制在10M以内");
            return false;
        }
        return true;
    }*/
</script>
</html>